<%
    /*(paging)페이징 처리 관련 변수 
    페이징 처리란? 여러건의 데이터를 분할 하는방법
    산수 로직에 의존한다!!
    */
    var currentPage=cPage; //현재 보고있는 페이지!!
    if(currentPage==undefined){//처음 페이지 요청한것과 같음
        currentPage=1;
    }
    var totalRecord=926;//총 레코드 수 
    var pageSize=10; //한페이지당 보여질 레코드 수
    var totalPage=Math.ceil(totalRecord/pageSize);//총 페이지 수
    var blockSize=10;//블럭당 보여질 페이지 수!!
    var firstPage=currentPage - (currentPage-1)%blockSize;//블럭당 시작 페이지
    var lastPage=firstPage+(blockSize-1);//블럭당 마지막 페이지
%>
<%="현재 페이지는 "+currentPage%>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        /* 페이지 선택시 스타일 */
        .pageStyle{
            font-size:25px;
            color:red;
            font-weight:bold;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        //글쓰기 폼으로 이동 
        $(function(){ //문서가 로드되면...
            $("button").click(function(){
                $(location).attr("href","/views/board/write.html");
            });                
        });
    </script>
</head>

<body>
    <table>
        <tr>
            <th>No</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
            <th>조회수</th>
        </tr>
        <%for(var i=0;i<pageSize;i++){%>
        <%//var obj=records[i];//배열에 들어있는 json 추출%>
        <tr>
            <td>26</td>
            <td><%//=obj.title%></td>
            <td><%//=obj.writer%></td>
            <td><%//=obj.regdate%></td>
            <td><%//=obj.hit%></td>
        </tr>
        <%}%>
        <tr>
            <td colspan="5" align="center">
                <a href="/board/list?currentPage=<%=firstPage-1%>">◀</a>
                <%for(var i=firstPage;i<=lastPage;i++){%>
                <a  <%if(i==currentPage){%>class="pageStyle"<%}%>  href="/board/list?currentPage=<%=i%>">[<%=i%>]</a>
                <%}%>
                <a href="/board/list?currentPage=<%=lastPage+1%>">▶</a>
            </td>
        </tr>        
        <tr>
            <td colspan="5" align="right">
                <button>글쓰기</button>
            </td>
        </tr>        
    </table>

</body>

</html>