<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        /* 페이지 선택시 스타일 */
        .pageStyle{
            font-size:25px;
            color:red;
            font-weight:bold;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        //글쓰기 폼으로 이동 
        $(function(){ //문서가 로드되면...
            $("button").click(function(){
                $(location).attr("href","/views/board/write.html");
            });                
        });
    </script>
</head>

<body>
    <table>
        <tr>
            <th>No</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
            <th>조회수</th>
        </tr>
        <%for(var i=0;i<pm.pageSize;i++){%>
        <%if(pm.num<1)break;%>            
        <%var obj=records[pm.curPos];//배열에 들어있는 json 추출%>
        <tr>
            <td><%=pm.num%></td>
            <td><%=obj.title%></td>
            <td><%=obj.writer%></td>
            <td><%=obj.regdate%></td>
            <td><%=obj.hit%></td>
        </tr>
        <%pm.num--;%>
		<%pm.curPos++;%>        
        <%}%>
        <tr>
            <td colspan="5" align="center">
                <a href="/board/list?currentPage=<%=pm.firstPage-1%>">◀</a>
                <%for(var i=pm.firstPage;i<=pm.lastPage;i++){%>
                <a  <%if(i==pm.currentPage){%>class="pageStyle"<%}%>  href="/board/list?currentPage=<%=i%>">[<%=i%>]</a>
                <%}%>
                <a href="/board/list?currentPage=<%=pm.lastPage+1%>">▶</a>
            </td>
        </tr>        
        <tr>
            <td colspan="5" align="right">
                <button>글쓰기</button>
            </td>
        </tr>        
    </table>

</body>

</html>